# macOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Database volume directory
data/

# JetBrains
.idea

# Skrypt Files
privkey.key
pubkey.key