<!-- footer -->
<% const today = new Date(); %>
<footer class="footer">
  <div class="container">
    <p class="text-center text-muted">© 2017-<%=today.getFullYear()%> "Apprentices Anonymous"</p>
  </div>
</footer>