<% const nofooter = true %>
<html>
	<head><% include head %>
		<title>SKRYPT</title>
	</head>
	<body><% include nav %>
		<div class="container">
			<div class="row">
				<h1>Welcome home,
                        <%= user.username %>!
				</h1>
			</div>
			<div class="row">
                <textarea id="test" class="form-control" style="width: 100%"></textarea>
                <button id="target" class="btn btn-lg btn-primary btn-block">Test</button>
			</div>
			<div class="row">
				<div class="col-md-6"><% for(var i = 0; i < posts.length; i++) { %><% var post = posts[i] %><% include partials/post %><% } %><% if (posts.length === 0) { %>
					<p>No posts</p><% } %>
				</div>
			</div>
		</div>
        <!-- TODO: Rewrite with better and more clean ajax code -->
        <script>
        $(document).ready(function () {
            $( "#target" ).click(function() {
            const test = $('#test').val();
            var data = JSON.stringify({
  "content": test
});

var settings = {
  "async": true,
  "crossDomain": true,
  "url": "http://localhost:4080/post/new",
  "method": "POST",
  "headers": {
    "Content-Type": "application/json",
    "Cache-Control": "no-cache",
    "Postman-Token": "fceb8314-d248-4b73-881c-6fcfeb885f59"
  },
  "processData": false,
  "data": data
}

$.ajax(settings).done(function (response) {
  
  if (response.status === "success") window.location.reload();
});
            });
        })
        </script>
        <script>
        function test() {
            
        }
        </script>
		<% include footer %>
	</body>
</html>