<!DOCTYPE html>
<!-- user home page (with feed/activity) -->
<html>
<head>
    <% include head %>
    <title><%=title%></title>
</head>
<body>
    <% include nav %>
    <div class="container">
        <h1>Welcome home, <%=user.username%>!</h1>
    </div>
    <% include footer %>
</body>
</html>