<!DOCTYPE html>
<!-- user home page (with feed/activity) -->
<html>
<head>
    <% include head %>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>

<form class="form-signin" action="/login" method="POST">
  <img src="img/logo.png" alt="" width="300" style="margin-bottom: 50px">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <!--
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  -->
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
<% include footer %>
</body>
</html>