<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3></h3>
    <% if (post.title) { %>
      <h5 class="card-title"><%= post.title %></h5>
    <% } %>
    <p class="card-text"><%=post.content%></p>
  </div>
</div>
<p style="display: none"><%=post%></p>