<!DOCTYPE html>
<!-- user home page (with feed/activity) -->
<html>
<head>
    <% include head %>
    <title>Register</title>
</head>
<body>

<form class="form-signin" action="/new/user" method="POST">
  <img src="/img/logo.png" alt="logo" style="display: block; margin: 0 auto" width="300" style="margin-bottom: 50px">
  <h1 class="h3 mb-3 font-weight-normal">Register</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputEmail" class="sr-only">Username</label>
  <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <!--
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  -->
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
<% include footer %>
</body>
</html>